[submodule "qwerty-hancock"]
	path = qwerty-hancock
	url = git://github.com/stuartmemo/qwerty-hancock.git
[submodule "raphael"]
	path = raphael
	url = git://github.com/DmitryBaranovskiy/raphael.git
[submodule "d3"]
	path = d3
	url = git://github.com/mbostock/d3.git
